<DOCTYPE html>
<html lang="es">
<head> 
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../Css/Foot.css">
</head>
<body>

<div id="foot"; class="li">
		<div class="divfoot">
			<span class="spanfoot">Servicios</span>

				<li> <a href="../Tipos de flores.html" target="_parent" class="lfoot";> Tipos de flores </a></li>
				<li> <a href="../Arte floral.html"     target="_parent" class="lfoot";> Arte floral </a></li>
				<li> <a href="../Decoración.html"      target="_parent" class="lfoot";> Decoración</a></li>
				<li> <a href="../Moda.html"            target="_parent" class="lfoot";> Moda floral </a></li>
				<li> <a href="../Galeria.html"         target="_parent" class="lfoot";> Galeria</a></li>
		<br>
		<br>
		</div>
		

		


		<div class="divfoot"; class="li">
			<span class="spanfoot">Acerca de nosotros</span><br>
				<li> <a href="../Index.html"           target="_parent" class="lfoot";> Inicio </a></li>
				<li> <a href="../Quienes-somos.html"   target="_parent" class="lfoot";> Quienes somos</a></li>
				<li> <a href="../Catalogo.html"        target="_parent" class="lfoot";> Catalogo</a></li>
				<li> <a href="../Contacto.html"        target="_parent" class="lfoot";> Contacto </a></li>
				<li> <a href="../Pedido.html"          target="_parent" class="lfoot";> Pedido</a></li>
				<li> <a href="../Registro.html"		   target="_parent" class="lfoot";> Registrate</a></li>
				<li> <a href="../Acceder.html"		   target="_parent" class="lfoot";> Acceder</a></li>

		</div>
		


		
		<div class="divfoot" >
			<span class="spanfoot">Siguenos</span>

				<br>
				<div><a href="https://co.pinterest.com/" target="blank"> <img src="../images/icono_pinterest.png"; class="icono";> </a></div>
				<br>
				<div><a href="https://twitter.com/?lang=es" target="blank"> <img src="../images/Icono_Twitter.png"; class="icono"> </a></div>
				<br>
				<div><a href="https://www.facebook.com/" target="blank"> <img src="../images/Icono_face.png"; class="icono"> </a></div>
				<br>
				<div><a href="https://www.instagram.com/?hl=es-la" target="blank"> <img src="../images/Icono_instagram.png"; class="icono"> </a></div>
				<br>
				<br>
		</div>

</div>

</body>
</html>