<DOCTYPE html>
<html lang="es">
<head> 
	<link rel="stylesheet" type="text/css" href="../Css/Head.css">
</head>
<body>


			
			<ul>
				<li> <a  href="../Index.html"           target="_parent" > Inicio</a></li>
				<li> <a  href="../Quienes-somos.html"   target="_parent" > Quienes somos</a></li>
				<li> <a  href="../Catalogo.html"        target="_parent" > Catalogo</a></li>
				<li> <a  href="../Contacto.html"        target="_parent" > Contacto </a></li>
				<li> <a  href="../Pedido.html"          target="_parent" > Pedido</a></li>
				<li> <a  href="../Registro.html"        target="_parent" > Registrate</a></li>
				<li> <a  href="../Acceder.html"         target="_parent" > Acceder</a></li>
			</ul>
			

</body>
</html>
